// a{
//     color: #000000;
// }

/* 最外框(包括 header) */
#user-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  // 背景
  .bg-img {
    background-image: url('../img/bg-noise.png');
    width: 100%;
    height: 120vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
  }
  // background-size: 100%;

  // ///////////
  @media screen and (max-width: 391px) {
    height: 100%;
    // overflow: auto;
  }

  h1 {
    background-color: #ffffff00;
  }

  /*包括會員資料 以下*/
  #user-data {
    width: 100%;
    height: 120vh; // 配合chrome
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 內容開始 */
    .tab-box {
      width: 55vw;

      @media screen and (max-width: 768px) {
        width: 75vw;
      }

      @media screen and (max-width: 391px) {
        height: 70vh;
      }

      .nav-tabs {
        //ul標籤

        li {
          border-radius: 12px 12px 0 0;
          background-color: #2b4f61;

          // input {
          //   width: 200px;
          // }

          @media screen and (max-width: 391px) {
            margin: 8px;
            border-radius: 0;
          }
        }

        a {
          font-size: 2rem;
          color: #fff;
        }

        .active {
          //選擇
          border-radius: 12px 12px 0 0;
          color: #000000;
          background-color: #fff;

          @media screen and (max-width: 391px) {
            border-radius: 0;
            box-shadow: -1px -1px 1px 1px #00000099;
          }
        }
      }

      .tab-content {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}

/* 基本資訊 */
#basic-info {
  height: 70vh; //考慮拿掉

  .profile {
    position: relative;
    .profile-pic {
      width: 350px;
      position: relative; /*鉛筆*/

      @media screen and (max-width: 768px) {
        right: 0;
        top: 200px;
        width: 280px;
        position: absolute;
      }

      @media screen and (max-width: 391px) {
        top: -15px;
        left: 70px;
        // width: 280px;
      }

      img {
        width: 150px;
        height: 150px;
        margin: 60px auto 0;
        display: block;
        border-radius: 50%;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          margin: 0;
        }

        @media screen and (max-width: 391px) {
          margin-top: 0px;
          width: 120px;
          height: 120px;
        }
      }

      /* 更改按鈕 */
      .edit-pic-btn {
        width: 50px;
        height: 50px;

        position: absolute;
        bottom: 140px;
        right: 100px;
        background-color: #f7f2ed;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 5px;
        font-size: 3rem;

        @media screen and (max-width: 768px) {
          right: 130px;
          top: 110px;
        }

        @media screen and (max-width: 391px) {
          // position: static !important;
          left: 5px;
          top: 90px;
        }
      }
    }

    ul {
      padding-top: 45px;
      list-style-type: none;

      @media screen and (max-width: 391px) {
        padding-top: 130px;
        padding-left: 0;
      }

      // 輸入框大小
      input {
        width: 250px;
        font-size: 2.5rem;
        box-shadow: 1px 1px 1px 1px #73707072;

        @media screen and (max-width: 768px) {
          width: 200px;
          font-size: 1.5rem;
        }

        @media screen and (max-width: 391px) {
          width: auto;
          font-size: 1.3rem;
        }
      }

      li {
        height: 40px;
        margin-bottom: 20px;

        p:first-child {
          font-size: 24px;
          position: relative;

          &::after {
            content: ' ';
            position: absolute;
            top: 3px;
            left: 70px;
            border-right: 3px solid #000000;
            height: 30px;
          }

          @media screen and (max-width: 391px) {
            font-size: 1.8rem;
          }
        }

        p:nth-child(2) {
          font-size: 20px;
          padding: 0 auto;
          line-height: 35px;

          @media screen and (max-width: 391px) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  /* 2顆按鈕 */
  .buttons {
    // width: 15vw;
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 30px;
      font-size: 1.7rem;

      // @media screen and (max-width: 391px) {
      //   width: 70px;
      //   height: 20px;
      //   font-size: 1rem;
      // }
    }

    @media screen and (max-width: 768px) {
      width: 60vw;
    }

    @media screen and (max-width: 391px) {
      margin-top: 55px;
    }

    .password-btn {
      width: 135px;
      height: 50px;
      border: 2px solid #2b4f61;
      font-size: 2rem;
      border-radius: 16px;
      background-color: #fff;

      @media screen and (max-width: 391px) {
        /* width: 200px ; */
        /* font-size: 1.2rem; */
      }
    }

    .edit-btn {
      padding: 5px 20px;
      border: none;
      border-radius: 16px;
      font-size: 2rem;
      color: #fff;
      background-color: #2b4f61;

      @media screen and (max-width: 391px) {
        /* white-space:nowrap; */
      }
    }
  }

  /* 檢視明細 按鈕 */
  .details-btn {
    width: 120px !important;
    height: 50px !important;
    padding: 15px 10px !important;
    border-radius: 8px;
    border: none;
    // border: 3px solid #d0d3d5;
    font-size: 1.9rem !important;

    display: flex;
    justify-content: center;
    align-items: center;

    // background-color: #eae4e4;
    background-color: #2b4f61;
    color: #e4e7e9;

    &:hover {
      background-color: #c9c9c4;
      color: #e4e7e9;
    }

    @media (max-width: 768px) {
      bottom: 20px;
      right: 10px;
    }

    @media (max-width: 391px) {
      width: 100px !important;
      height: 45px !important;
      border-radius: 5px !important;
      font-size: 2rem !important;
    }

    p {
      font-size: 2rem;
      color: #2b4f61;
      font-weight: 700;

      @media (max-width: 391px) {
        font-size: 1.1rem;
      }
    }

    .data-box {
      width: 100%;
    }
  }
}
