.XX {
  background-color: #2b4f61;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  z-index: 300;
  position: fixed;
  width: 100%;
  top: 0;

  .wrap-left {
    display: flex;
    width: 210px;
    justify-content: space-between;

    a {
      font-size: 1.2rem;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      background: none;
      padding: 5px 0;
    }

    .shop-menu {
      position: relative;
      display: inline-block;
      padding: 5px 0;

      .shopButton {
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        background: none;
        padding: 0;
        border: none;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        z-index: 250;
        min-width: 140px;
        top: 36px;
        left: -10px;
        border: 1px solid #cccccc;

        a {
          color: black;
          padding: 12px 20px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }

      &.open .dropdown-content {
        display: block;
      }
    }
  }

  .wrap-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a {
      text-decoration: none;

      p {
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .wrap-right {
    display: flex;
    width: 120px;
    justify-content: space-between;

    a img {
      width: 24px;
      height: 24px;
    }
    svg {
      font-size: 2.2rem;
      color: #fff;
    }
  }
}

.phone {
  background-color: #2b4f61;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 300;
  align-items: center;
}

input:checked ~ .searchFilter {
  top: 5.5%;
}
.filterInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.searchFilter {
  box-shadow: 2px 2px 6px #7c878d;
  font-family: '微軟正黑體', 'Microsoft JhengHei';
  font-size: 62.5%;
  width: 80%;
  height: auto;
  background-color: #b3c0c6;
  padding: 50px 0;
  overflow: hidden;
  position: absolute;
  top: -120%;
  left: 10%;
  transition: top 0.5s ease;
  z-index: 200;
  border-radius: 0 0px 20px 20px;
  .row {
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .searchSelect {
    padding-bottom: 50px;
    .custom-select {
      font-family: '微軟正黑體', 'Microsoft JhengHei';
      font-size: 62.5%;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: #f7f2ed;
      color: #2b4f61;
    }
    .custom-select option {
      background-color: #f7f2ed;
      color: #2b4f61;
      border-bottom: 1px solid #2b4f61;
    }
    .custom-select option:hover {
      background-color: #2b4f61;
      color: #f7f2ed;
    }
    custom-select option:active {
      border: none;
    }
  }
  .searchInput {
    .form-control {
      font-family: '微軟正黑體', 'Microsoft JhengHei';
      font-size: 62.5%;
      font-size: 1.8rem;
      color: #2b4f61;
      background-color: #f7f2ed;
      font-weight: 600;
    }
    input::placeholder {
      color: #91a3ad;
      font-weight: 500;
    }
    .searchGroup {
      display: flex;
      width: 600px;
    }
    .searchButton {
      background-color: #2b4f61;
      color: #f7f2ed;
      border: none;
      .fa-magnifying-glass {
        font-size: 1.8rem;
      }
    }
    .searchButton:hover {
      background-color: #f7f2ed;
      color: #2b4f61;
      padding: 6px;
      border: 2px solid #2b4f61;
    }
  }
  .searchClose {
    position: absolute;
    left: 93%;
    top: 5%;

    .fa-xmark {
      color: #f7f2ed;
      font-size: 3rem;
      cursor: pointer;
    }
  }
  .search-border {
    position: absolute;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #f7f2ed;
  }
  .searchTagTitle {
    font-family: '微軟正黑體', 'Microsoft JhengHei';
    font-size: 62.5%;
    padding-top: 30px;
    font-size: 3rem;
    color: #2b4f61;
    font-weight: 600;
  }
  .searchTagGroup {
    padding-top: 20px;
    flex-direction: column;
    .group1 {
      justify-content: center;
      margin-left: -70px;
      padding: 10px;
    }

    .group2 {
      justify-content: center;
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: #2b4f61;
    }
    .searchTag {
      border-radius: 8px;
      text-align: center;
      align-content: center;
      background-color: #f7f2ed;
      color: #2b4f61;
      padding: 6px 8px;
      margin: 6px;
      font-size: 1.8rem;
      text-wrap: nowrap;
    }
    .searchTag:hover {
      background-color: #2b4f61;
      a {
        color: #f7f2ed;
      }
    }
  }
}

@media (max-width: 768px) {
  .phone {
    z-index: 500;
    padding: 6px 20px;

    .wrap-left-phone {
      img {
        width: 36px;
        height: 36px;
      }
    }

    .wrap-right-phone {
      display: flex;
      gap: 14px;
      a {
        margin-left: 8px;
      }

      img {
        width: 24px;
        height: 24px;
      }

      svg {
        font-size: 2.2rem;
        color: #fff;
      }
    }
  }
  .searchFilter {
    width: 100%;
    left: 0;
    padding: 0px 30px;
    top: -140%;

    .searchSelect {
      margin-top: 60px;
    }
    .searchSelect,
    .searchInput {
      padding-bottom: 30px;
      width: 100%;
    }
    .searchInput .searchGroup {
      width: 100%;
      // flex-direction: column;
    }
    .searchTagGroup {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      .group1,
      .group2 {
        flex-direction: column;
        margin-left: 0;
      }
      .searchTag {
        width: 100%;
        margin: 8px 0;
      }
    }
  }
  .searchClose {
    left: 90%;
    top: 0;
  }
  .search-border {
    width: 80%;
  }
}

///俊成新增
@keyframes slideOutToLeft {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-out {
  animation: slideInFromLeft 0.5s forwards;
}

.slide-in {
  animation: slideOutToLeft 0.5s forwards;
}
.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdownButton1 {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown1-content {
  display: none;
  position: absolute;
  width: 320px;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  font-size: 1.2rem;
  border-radius: 5px;
  right: -20px;
}

.dropdown1:hover .dropdown1-content,
.dropdown1-content:hover {
  display: block;
  @media screen and (max-width: 391px) {
    display: none;
  }
}

.dropdown1-content .dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown1-content .dropdown-item:hover {
  background-color: #f1f1f1;
}

.cartImg {
  width: 40px;
  height: 40px;
}

.cartTitle {
  font-size: 1.6rem;
}

.cartName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  width: 180px;
  &:hover {
    color: #e4960e;
  }
}
.cartQty {
  font-size: 1rem;
}
