#Loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aca4a43a;

  ///
  // position: fixed;

  .talk-img {
    width: 500px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 5rem;
      color: rgba(0, 0, 0, 0.427);
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        animation: wave 1.5s infinite;
      }

      span:nth-child(1) {
        animation-delay: 0s;
      }

      span:nth-child(2) {
        animation-delay: 0.3s;
      }

      span:nth-child(3) {
        animation-delay: 0.6s;
      }
    }
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
